<div class='component-inner talk-inner'>
  {{> component this}}
  <div class='component__widget talk__widget'>

    <div class='talk__container-items' role='feed'>
      {{#each _items }}
      <div
        class="talk__chat__wrapper {{_character.position}}{{#if _character._isNarrator}} talk__chat__narrator_wrapper{{/if}}">
        {{#unless _character._isNarrator }}
        {{#if _character.name}}
        <div class="talk__chat__character-title{{#if _character._graphic.src}} talk__chat__character-titlespacing{{/if}}" style="padding: 0 1rem;">
          {{{ compile _character.name }}}
          <span class="sr-only">{{t 'adapt-talk-says'}}</span>
        </div>
        {{/if}}
        {{/unless}}
        <div
          class="talk__chat talk__chat-character-{{_character._index}} {{_classes}}{{#if _character._isNarrator}} talk__chat__narrator{{/if}}{{#unless _character._isNarrator}} talk__chat__character__{{_character.position}}{{/unless}}{{#if ../hasObserver}} is-visited{{/if}}"
          role="article" aria-posinset="{{@index}}" tabindex="0" aria-labelledby="talk__chat-container-{{@index}}"
          aria-setsize="{{../visitedCount}}" data-index="{{@index}}">
          <div class="talk__chat-status"></div>
          <div class="talk__chat-container" id="talk__chat-container-{{@index}}">
            {{#unless _character._isNarrator }}
            {{#if _character._graphic}}
            {{#if _character._graphic.src}}
            <div class="talk__chat__character {{_character._classes}}">
              <div class="talk__character-graphic talk__character__image-container"
                style="background-image: url('{{_character._graphic.src}}'); background-size: cover; background-position: center;">
              </div>
            </div>
            {{/if}}
            {{/if}}
            <div class="talk__chat__message">
              <div class="talk__chat__message__text__audio__container{{#unless _character._graphic.src}} talk__chat__message-noavatar{{/unless}}">
                <div class="talk__chat__message-container"
                  style="display: flex; flex-direction: {{_graphic.graphicFlexDirection}}">
                  {{#if _graphic}}
                  {{#if _graphic.src}}
                  <div class="talk__message-graphic">
                    <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}">
                  </div>
                  {{/if}}
                  {{/if}}
                  {{#if text}}
                  <div class="talk__chat__message-text" style="padding-left: 5px; padding-right: 5px;">{{{ compile text
                    }}}</div>
                  {{/if}}
                </div>
                {{#if _mp3}}
                <div class="talk__message-mp3 a11y-ignore-aria">
                  <label for="audio-player-{{@index}}" class="sr-only">{{t 'adapt-talk-optional-audio-player-message'}}</label>
                  <audio id="audio-player-{{@index}}" controls="" style="width: 100%;">
                    <source src="{{_mp3}}" type="audio/ogg">
                  </audio>
                </div>
                {{/if}}
              </div>
            </div>
            {{else}}
            {{#if text}}
            <div class="talk__chat__message-narratortext">
              <span class="sr-only">{{t 'adapt-talk-narration'}}</span> {{{ compile text }}}
            </div>
            {{/if}}
            {{/unless}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

</div>
